.button-container {
	height: 100px;
	display: flex;
}

.number-button {
	width: 100px;
	background-color: white;
	border: 1px solid grey;
}

.number-button:hover {
	background-color: whitesmoke;
}

.action-button {
	width: 300px;
	background-color: white;
	border: 1px solid #e3e3e3;
}

.action-button:hover {
	background-color: whitesmoke;
}

.red-button {
	width: 130px;
	background: darkred;
	color: white;
	line-height: 100px;
	font-size: 70px;
}

.red-button:hover {
	background-color: firebrick;
}

.num-button {
	text-align: center;
	line-height: 100px;
	font-size: 50px;
}

.action-text {
	text-align: center;
	line-height: 100px;
	font-size: 50px;
}
